doctype html
html
  head
    meta(charset='utf-8')
  body
    form(action='remove_record' method='post')
      label stu_id
      input(type='text' name='stu_id')
      label file_name
      input(type='text' name='file_name')
      br
      br
      input(type='submit')