.root {
  text-align: center;
}

.logo {
  margin-top: 120px;
}

.logo > img {
  width: 192px;
  height: 192px;
}

.login_card {
  display: inline-block;
  text-align: left;
  padding-top: 30px;
  margin-top: 70px;
  width: 400px;
  height: 300px;
}

.login_card > div {
  margin-top: 25px;
}

.login_btn {
  margin-top: 35px;
  text-align: end;
}

.login_btn > button {
  width: 80px;
}