<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.woolrim.woolrim">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".WoolrimApplication"
        android:allowBackup="true"
        android:icon="@drawable/woolrim_temp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/woolrim_temp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:supportsRtl="true" />

        <activity
            android:name=".PlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/menu_kr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyMenuActivity"
            android:label="@string/mypage_kr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BGMSelectActivity"
            android:label="@string/bgmselect_kr"
            android:screenOrientation="portrait" />

        <service
            android:name=".GetDataService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>